body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(226, 226, 226);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-container {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #ccc;
    max-width: 250px;    
  }
  
  .output-container {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ccc;
    width: 816px;
    height: 1056px;
    background-color: white;
  }
  
  .FormSectionContainer {
    margin-bottom: 20px;
  }
  
  .FormSectionTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  input {
    display: block;
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="button"] {
    background-color: #6c757d;
  }
  
  button:hover {
    opacity: 0.9;
  }

  h1, h2 {
    text-align: center; 
    margin: 10px 0;
  } 

  h2 {
      font-size: 18px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
  }


.personalContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0 10px;
}

.personalContainer > p {
  padding: 0;
  margin: 0
}

.firstName, .lastName {
  font-weight: bold;
  font-size: 16px;
}

.educationContainer {
  margin-top: 20px; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
}

.educationContainer > p {
  padding: 0;
  margin: 0;
}

.educationHeader {
    text-align: center;
    margin-bottom: 10px;
}

.educationDetails {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.schoolContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 0;
    padding: 0;
}

.programContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0;
    margin: 0;
}

.school,
.program {
    flex: 1; 
    margin-right: 10px; 
}

.dateOfStudy,
.locationOfStudy {
    flex: 1; 
    margin-right: 10px; 
    text-align: right; 
}

.school {
  font-weight: bold;
  padding: 0;
}

.program {
  font-style: italic;
}

.dateOfStudy {
  color: #666;
}

.company {
  font-weight: bold;
}

.positionTitle {
  font-style: italic;
}

.responsibilities {
  margin-left: 20px;
  color: #555;
}

.dateOfWork {
  color: #666;
}
    